<section class="fronttext">
  <h2>SECOND HAND BUTIK PÅ GODTHÅBSVEJ 57, 2000 FREDERIKSBERG</h2>
  <h3>
    Vi tilbyder et unikt og bæredygtigt udvalg af secondhand tøj & accessories
  </h3>
</section>

<style>
  .fronttext h2 {
    font-size: 18px;
    text-align: center;
  }
    .fronttext h3 {
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
    }
    .fronttext {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      margin: 0 auto;
      padding-top: 20px;
      max-width: 1400px;
      padding: 10px;
    }

    .instagram-section {
      padding: 10px;
    }
  @media only screen and (min-width: 768px) {
    .fronttext h2 {
      font-family: var(--font-family-medium);
      font-size: 28px;
    }

  .fronttext h3 {
    font-size: 22px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-light);
    text-transform: uppercase;
  }

 .fronttext{
  padding-top: 60px;
  padding-bottom: 40px;
 }

  .instagram-section h3, .instagram-section a {
    font-size: 20px;
  }
  .instagram-section a {
    color: var(--cta-text);
    text-decoration: underline;
  }

  }
</style>
