<section>
  <div>
  <img class="logo" src="/img/icons/insta-rund.svg" alt="First Class Second Hand logo">
  </div>

    <div class="titel">
      <p class="p1">Hold øje med de seneste nyheder på vores Instagram </p> 
      <p class="p2">
        @firstclasssecondhandcph</p>
    </div>


  <div class="content">
    <a href="https://www.instagram.com/firstclasssecondhandcph/" target="_blank" rel="noopener noreferrer">
    <button class="btn"><p>FØLG</p></button>
    </a>
  </div>
</section>

<style>
  
  .content {
    padding-bottom:70px;
  }
  
  .btn {
    font-size: 14px;
    background-color: #7a1044;
    color: white;
    padding: 3px 60px;
    border: 2px solid #7a1044;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
  }

  .btn:hover {
    padding: 3px 60px;
    color: var(--cta-tekst);
    background-color: transparent;
 
  }

  a {
    text-decoration: none;
    color:#7a1044;
  }

  .logo {
    width: 100px;
    height: 83px;
    justify-content: center;

  }

  section {
    align-items: center;
    width: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40px;
    gap: 10px;
    text-align: center; 

  }
.titel p{
  padding:10px;
font-size: 19px;
  }


  .titel {
    text-align: center; 
  }
  @media (min-width: 768px) {
    section {
      grid-template-columns:1fr 2fr 2fr;
      display: grid;
     max-width: 1400px;
     padding-top:90px;
     padding-bottom:50px;
  }

  .content {
   padding-bottom: 25px;
  }
  .titel.p1 {
    padding:0;

  
}
.titel p {
  font-size: 25px;
  text-align: left;
padding:0;
}

  }

</style>
